/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 May, 2020, 1:57:01 PM
    Author     : adminrb
*/
body{
    font-family: Poppins,Helvetica,sans-serif !important;
}
.width100{
    width: 100%;
}
.minHeight490{
    min-height: 490px;
}
.marginTop10{
    margin-top: 10px; 
}
.marginTop20 {
    margin-top: 20px !important;
}
.threeButtonsCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 140px;
}
.marginBottom10{
    margin-bottom: 10px; 
}
.marginBottom20{
    margin-bottom: 20px; 
}
.marginLeft15Bottom13{
    margin-left: 15px;
    margin-bottom: 13px !important;
}
.marginLeft30{
    margin-left: 30px;
}
.marginTop125 {
    margin-top: 125px;
}
.paddingTop3{
    padding-top: 3px;
}
.paddingLeft35{
    padding-left: 35px;
}
.paddingTopBottom5{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.marginTopBottom{
    margin-top: 10px; 
    margin-bottom: 25px;
}
.marginTopBottom10{
    margin-top: 10px; 
    margin-bottom: 10px;
}
.minusMarginLeft40{
    margin-left: -40px;
}
.displayMiddle{
    display: table-cell;
}
.hidden{
    display: none;
}
.font10{
    font-size: 10px;
}
.font12{
    font-size: 12px;
}
.font13{
    font-size: 13px;
}
.font25{
    font-size: 25px;
}
.font1dot3rem{
    font-size: 1.3rem;
}
.colorDD5800 {
    color: #DD5800;
}
.color00A2E8 {
    color: #00A2E8;
}
.colorTextWhite {
    color: #FFFFFF;
}
.colorText575962 {
    color: #575962;
}
.backgroundColorDD5800 {
    background: #DD5800;
    color:#fff;
}
.backgroundColorF0F0F0 {
    background: #F0F0F0;
}
.divBoxBorderWithMinHeight300{
    border: 1px solid #575962;
    border-radius: 3px;
    min-height: 300px;
    margin-bottom: 10px;
}
.linkFont10{
    font-size: 11px;
}
.fontWeight400{
    font-weight: 400;
}
.tableTdWidth50 {
    width: 50% !important;
}
.popover .popover-body {    
    background-color: #0095d6;     
    color: #fff;
}
.popover .bs-popover-auto[x-placement^="top"] .arrow::after, .bs-popover-top .arrow::after {
    border-top-color: #0095d6;
    bottom: 1px;
}
.popover-content { 
    color: #FFF;
    padding: 8px 10px !important;
}
/*.close{
    color: #FFF;
    opacity: 1 !important;
}*/
.m-login.m-login--1 .m-login__wrapper .m-login__logo {
    margin: 0 auto 2rem;     
}
.m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action {
    margin: 1rem 0; 
}
.m-login__logo img{
    max-width: 100%;
}
.m-login.m-login--1 .m-login__content .m-login__welcome {
    font-size: 26px;    
}
.text_content_register .m-login__welcome {
    margin-bottom: 19rem !important;
}
a{
    color: #0095d6;
}
a:hover {
    color: #0095d6;
}
.error{
    color: #f4516c;
    font-weight: 400;
    font-size: .85rem;
}
.validationErrorCss{
    color: red;
    font-weight: 300;
    font-size: .85rem;
}
#hiddenRecaptcha-error{
    margin-top: 0.5rem !important;  
}
.m-login__form .btn-focus {
    background-color: #0095d6;
    border-color: #0095d6;
    color: #fff;
}
.m-login__form .btn-focus.m-btn--air:active {
    background-color: #0095d6;
    border-color: #0095d6;
    color: #fff;
}
.btn-focus.m-btn--air.focus, .btn-focus.m-btn--air:focus, .btn-focus.m-btn--air:hover, .btn-outline-focus.m-btn--air.focus, .btn-outline-focus.m-btn--air:focus, .btn-outline-focus.m-btn--air:hover, .m-btn--gradient-from-focus.m-btn--air.focus, .m-btn--gradient-from-focus.m-btn--air:focus, .m-btn--gradient-from-focus.m-btn--air:hover {
    box-shadow: 0 5px 10px 2px #a4e1f9 !important;
}
.btn-focus.m-btn--air, .btn-outline-focus.m-btn--air, .m-btn--gradient-from-focus.m-btn--air {
    box-shadow: 0 5px 10px 2px #cceefc !important;    
}

.m-link.m-link--focus {
    color: #0095d6;
}
.m-link.m-link--focus:hover {
    color: #0095d6;
}
.m-link.m-link--focus:hover::after {
    border-bottom: 1px solid #0095d6;
}
.m-checkbox.m-checkbox--focus>input:checked~span {
    border: 1px solid #222755;
}
.m-checkbox.m-checkbox--focus>span:after {
    border: solid #222755;
}
.btn-link {
    color: #0095d6;
}
.btn-link:hover {
    color: #0095d6;
}
/* The login/register form should be at the top and the purple section underneath */
.m-grid.m-grid--hor-tablet-and-mobile.m-grid--tablet-and-mobile > .m-grid__item.m-grid__item--order-tablet-and-mobile-2 {
    order: unset;
}
.m-login.m-login--1 .m-login__content {   
    padding: 5rem 8rem;
}

.m-login.m-login--1 .m-login__wrapper {
    padding: 15% 2rem 2rem;
}
.m-login.m-login--1 .m-login__wrapper .m-login__form {
    margin-top: 2rem;
}
.check_icon {
    display: table-cell;
    padding: 0 10px 0 0;
    text-align: left;
    vertical-align: top;
    width: 50px;
}
.check_icon i{
    color: #fff;
    font-size: 2rem;
    line-height: 0;
}
.check_icon_text{
    display: table-cell; 
    padding: 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}
.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control:focus::-moz-placeholder {
    color: #0095d6;
    opacity: 1
}
.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control:focus:-ms-input-placeholder {
    color: #0095d6;
}

.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control:focus::-webkit-input-placeholder {
    color: #0095d6;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text{
    color: #0095d6;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot>span, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot>span{
    background-color: #0095d6;
}

.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control.m-login__form-input--last {
    border-bottom: 1px solid #ebedf2;
}
/*Let navigation*/
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #0095d6;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
    color: #0095d6;
}
.m-brand.m-brand--skin-dark {
    background: #fff none repeat scroll 0 0;
}
.m-aside-left.m-aside-left--skin-dark {
    background-color: #222755;
}
.m--bg-brand {
    background-color: #222755 !important;
}
.m--font-brand {
    color: #222755 !important;
}
.m--bg-info {
    background-color: #0095d6 !important;
}
.m--font-info {
    color: #0095d6 !important;
}
.btn-brand {
    background-color: #0095d6;
    border-color: #0095d6; 
}
.btn-brand:hover {
    background-color: #0095d6;
    border-color: #0095d6; 
}
.btn-brand:hover::after {
    background-color: #0095d6;
    border-color: #0095d6; 
}
.daterangepicker .ranges li.active {
    background: #0095d6 none repeat scroll 0 0;
    border: 1px solid #0095d6; 
}
.daterangepicker tbody td.active, .daterangepicker tbody td.in-range {
    background: #0095d6 none repeat scroll 0 0; 
}
.daterangepicker tbody td.active:hover, .daterangepicker tbody td.in-range:hover {
    background: #0095d6 none repeat scroll 0 0; 
}
.daterangepicker tbody td.today {
    background: #0095d6 none repeat scroll 0 0;
}
.daterangepicker .daterangepicker_input .input-mini.active, .daterangepicker .daterangepicker_input .input-mini:focus {
    border: 1px solid #0095d6;
}
.has-danger label.col-form-label, .has-danger label.form-control-label, .has-danger label:not([class]) {
    color: #212529;
}
.has-danger .form-control:focus{
    border-color: #0095d6; 
}
.btn-focus {
    background-color: #0095d6;
    border-color: #0095d6;
    color: #fff;
}
.btn.btn-focus:active, .btn.btn-focus:focus, .btn.btn-focus:hover {
    background-color: #0095d6;
    border-color: #0095d6;
    color: #fff;
}
.btn.btn-focus:hover::after {
    background-color: #0095d6;
    border-color: #0095d6;
    color: #fff;
}
.form-control:focus{
    border-color: #0095d6;
}
/*Dashboard widget box css*/
.dashboard-latest-data .m-portlet__body {
    padding: 2.2rem 1.2rem;
}
.m-widget4 .m-widget4__item {
    display: flex; 
}
.m-widget4 .m-widget4__item .m-widget4__info .m-widget4__title {
    font-size: 0.9rem;
}
.m-widget4 .m-widget4__item .m-widget4__info .m-widget4__sub {
    font-size: 0.9rem;
}
.m-widget4 .m-widget4__item .m-widget4__ext {
    font-size: 0.9rem;
    width: 25%;
}
.m-widget4 .m-widget4__item .m-widget4__info {
    width: 85%;
}
.m-portlet .m-portlet__head .m-portlet__head-tools {
    font-size: 0.9rem; 
}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-size: 1.6rem; 
}
.ui-bold{
    font-weight: 600; 
}
.m-widget4__item .m-widget4__icon > i {
    color: #0095d6;
    font-size: 2rem;
}
.m-wizard.m-wizard--3 .m-wizard__head {
    padding: 3rem 4rem !important;
}
.m-wizard.m-wizard--3 .m-wizard__form {
    padding: 3rem 4rem 3rem 4rem !important; 
}
.m-form .m-form__heading {
    margin: 0; 
} 
.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #0095d6;
    border-color: #0095d6; 
}
.alert .m-alert--outline .alert-success .close {
    color: #34bfa3 !important; 
}
.m-form .m-form__group{
    padding-top: 0;
}
.m-form .m-form__group .form-control-label, .m-form .m-form__group label.m-option {
    font-size: 0.5rem;
}
.m-option .m-option__label .m-option__head .m-option__title {
    font-size: 1rem;    
}
.m-option .m-option__control {
    width: 2rem;
}
.m-form .m-form__section.m-form__section--first, .m-form .m-form__section:first-child {
    margin-bottom: 15px;
}
.m-separator.m-separator--lg {
    margin: 10px 0;
}
.option-label{
    font-size: 1.2rem !important;
    color: #000;
}
.h3-span{
    color: gray;
    top: 23px;
    position: absolute;
    margin-left: 40px;
}
.info-icon {
    color: #0095d6;
    font-size: 2rem;
    margin-bottom: auto;
    margin-left: -16px;
    margin-top: auto;
}
.form-help-span {
    width: 95%;
    margin-bottom: 10px;
    color: #7b7e8a;
    font-weight: 300;
    font-size: .85rem;
    padding-top: 7px;
}
.sub-checkbox{
    margin-left:2rem;
    margin-bottom: 2px;
}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title span i {
    font-size: 24px;
}
/* m-popover style start */
.m-popover.popover {
    padding: 0;
    border-radius: 4px
}
.m-popover.popover .arrow:before {
    border: 0
}
.m-popover.m-popover--skin-dark.popover .popover-header {
    color: #fff;
    background: #222755;
    width: 350px;
}
.popover .popover-header {
    color: #fff;
    background: #222755;
    width: 274px;
}
.m-popover.popover .popover-body {
    padding: 12px 15px;
    font-size: 1rem;
    font-weight: 300;
    width: 350px;
}
.m-popover.popover {
    border: 0;
    color: #0095d6;
    background: #fff;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .25);
    -moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .25);
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .25)
}
.m-popover.popover:before {
    display: none
}
.m-popover.popover.bs-popover-auto[x-placement^=top] .arrow::after,
.m-popover.popover.bs-popover-top .arrow::after {
    border-top-color: #fff
}
.m-popover.popover .popover-body {
    color: #0095d6;
}
.m-popover.m-popover--skin-dark.popover {
    border: 0;
    color: #0095d6;
    background: #242532;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .3);
    -moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .3);
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .3)
}
.m-popover.m-popover--skin-dark.popover:before {
    display: none
}
.m-popover.m-popover--skin-dark.popover.bs-popover-auto[x-placement^=top] .arrow::after,
.m-popover.m-popover--skin-dark.popover.bs-popover-top .arrow::after {
    border-top-color: #0095d6
}
.m-popover.m-popover--skin-dark.popover .popover-body {
    color: #fff;
}
/* m-popover style end */
.mutiSelectCheckboxOfCountry {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #bfbfbf;
    background: #fff;
    margin: 15px;
}
.m-form__group .m-checkbox {
    margin-bottom: 2px;
}
.m-scrollable .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #0088CA;
}
.m-portlet .m-portlet__head .wizard-popup {
    padding-left: 25px !important;
}
.has-danger .form-control, .has-danger .input-group-text {
    border-color: red;
}
.has-danger .form-control-feedback {
    color: red;
    font-weight: 300;
}
.padding{
    padding: .3em;
}
div .form-group .grayReadonly {
    background-color: #e2e5ec;
    border-color:  #e2e5ec;
}
/* ---- Start Advanced Settings ---- */
#advanceSettingsTab .nav-link {
    color: #6f727d;
    border: 1px solid #0095d6;
}

#advanceSettingsTab .nav-link.active{
    color: #0095d6;
    background-color: #f1f1f1;
    border: 1px solid #0095d6;
}
.currencyListDivClass ul,.salaryTypesListDivClass ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px; 
    -moz-column-gap: 0px; 
    column-gap: 0px;
    margin: 0;
    padding: 0;
    list-style-type: none;    
}
/* correct webkit/chrome uneven margin on the first column*/
.currencyListDivClass ul li:first-child,.salaryTypesListDivClass ul li:first-child {
    margin-top:0px;
}
.LiDisplayInlineCss {
    display: block;
}
.spanApproveIconColorCursor {
    color: #34bfa3; cursor: pointer;
}
.spanEditIconColorCursor {
    color: #337ab7; cursor: pointer;
}
.spanDeleteIconColorCursor {
    color: #a94442; cursor: pointer;
}
.dropdownDefaultOptionCss {
    color: #0095d6 !important;
}
.dropdownDefaultOptionCss :hover{
    color: #fff !important;
}

/* ---- End Advanced Settings ---- */   
.loadingImageLoader{
    display: none;
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#666;    
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000; 
    opacity: 0.4;
}

/* Start Manage Locations Css */
.borderWithMarginTopBottom{
    border-top: 1px solid #575962;
    margin-top: 10px;
    margin-bottom: 25px;
}
.borderTopPaddingTop10{
    border-top: 1px solid #575962;
    padding-top: 10px;
}
.mainTitleCss{
    background-color: #0095d6;
    color: #fff;
}
#locationsTableId td {
    width: 33.33%;
    background-color: #D3D3D3;        
}
#locationsTableId .tdPadding {
    padding: 1.75rem;       
}
#manageLocationTableFormId .btnsCss {
    width: 145px;       
}
.ScrollStyleToDiv{
    /*margin-bottom: 20px;*/
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ScrollStyleToPopupStartDiv{
    max-height: 680px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ScrollStyleToAssocPopupStartDiv{
    overflow-y: auto;
    overflow-x: hidden;
}
#manageLocationTableFormId .tableDivCss{
    overflow-x:auto;
}
.marginLeftSubmitBtn{
    margin-left: 35px;
}
.textAlignCenter{
    text-align: center;
}
.table tbody .addLocationPopupTableTd {
    padding-top:5px !important;
    padding-bottom:0px !important;
}
.table thead .addLocationPopupTableTh {
    padding-top:5px !important;
    padding-bottom:0px !important;
}
.table thead .addLocationPopupTableSelectAll {
    padding-top:0px !important;
}
.table tbody .addLocationPopupTableTd label {
    margin-bottom: 5px !important;
}
.modalBodyHeightCss {
    height: 265px;
}
.modal_z_index1080 {
    z-index: 1080 !important;
}
.paddingBottom5 {
    padding-bottom: 5px;
}
.width80 {
    width: 80px
}
.inputWidth227{
    width: 227px; 
}

/*select 2 dropdown list css*/
.select2-choice {
    margin-left: -15px;
    margin-right: -15px;  
    height: 35px !important;
}
.select2-container{
    padding-bottom: 0px;
    padding-top: 0px;
}
.select2-arrow{
    padding-top: 4px;
}
.select2-chosen{
    padding-top:3px;
}
.dropdownSelect2SelectionWidth{
    width: 300px;
}
.select2-results .select2-highlighted {
    background: #0095d6 !important;
}
/* End Manage Locations Css */
/*multiselect dropdown list css start*/
ul.dropdown-menu.inner{
    max-height: 220px !important;
    overflow-y: auto;
}
/*multiselect dropdown list css end*/

.customFields{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
}
.padding20{
    padding: 20px;
}
.padding30{
    padding: 30px;
}
.delete_row_button{
    cursor: pointer;
    color:rgb(169, 68, 66);
}
.delete_custom_field_label_name{
    cursor: pointer;
    color:rgb(169, 68, 66);
}
.delete_custom_fields_value{
    cursor: pointer;
    color:rgb(169, 68, 66);
}
.dynamicScroll{
    overflow-x: hidden;
    max-height: 105px;
    overflow-y: auto;
    padding-right: 10px;
}
.linkColorCss{
    color: #FF0000;
}
.dynamiModalBodyAutoScroll{
    max-height: 500px;
    overflow-y: auto;
}
.marginLeftZero{
    margin-left: 0px;
}
.editCustomFieldMarginLeft{
    margin-left: 20px;
}

/* start : Datatable css */
table .fa-pencil{
    color: #337ab7 !important;
}
table .fa-trash{
    color: #a94442 !important;
}
table .m-checkbox.m-checkbox--single {
    height: 0px;
}
table .m-btn--icon.m-btn--icon-only {
    width: 20px;
    height: 0px;
}
/* end : Datatable css */
.pi_chart_head{
    border-bottom: 1px solid #ebedf2 !important;
    text-align: center !important;
    padding: 0 4.9rem !important;
    height: 4.1rem !important;
}
.pointer{
    cursor: pointer;
}
.modalHeaderName{
    width: 100%;
    text-align: center;
}

/* First Name ---------*/
.popup-overlay-first-name{
    position:absolute;
    width: 25%;
    top: 90px;
}

/* Last Name ---------*/
.popup-overlay-last-name{
    position:absolute;
    width: 25%;
    top: 170px;
    z-index: 9;
}

/* Email Address ---------*/
.popup-overlay-email{
    position:absolute;
    width: 25%;
    top: 170px;
    /*top: 245px;*/
    z-index: 9;
}

/* Password ---------*/
.popup-overlay-password{      
    position:absolute;
    width: 25%;
    top: 229px;
    z-index: 9;
}
/* phone ---------*/
.popup-overlay-phone{      
    position:absolute;
    width: 25%;
    top: 315px;
    z-index: 9;
}
/* profile ---------*/
.popup-content-profile-img{      
    position:absolute;
    width: 25%;
    /*top: 400px;*/
    top: 349px;
    z-index: 9;
}
/* companySettings company name ---------*/
.popup-overlay-company-name{      
    position:absolute;
    width: 25%;
    top: 85px;
    z-index: 9;
}
/* companySettings website address ---------*/
.popup-overlay-website-address{      
    position:absolute;
    width: 25%;
    top: 160px;
    z-index: 9;
}
/* companySettings gst number---------*/
.popup-overlay-gst-number{      
    position:absolute;
    width: 25%;
    top: 305px;
    z-index: 9;
}

.alignLeft{
    text-align: left;
}
.errorLabel{
    float: left;
    padding: 5px;
}
.successMsg{
    color: #34bfa3 !important; 
    font-weight:400;
    font-size: .85rem;
    text-align:center;
}
.successMessage{
    color: #34bfa3 !important; 
    font-weight:400;
    font-size: .85rem;
}
.deleteAccount a{
    color: #f4516c;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: underline;
}

.deleteAccount a:hover{
    color: #f4516c;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: underline;
}
#myProfileImage{
    display: none;
}
.croppie-container {
    height: 80% !important;
    padding: 10px !important;
}
.deleteBinIcon a{
    color: #f4516c;
    text-decoration: none;
}
.deleteBinIcon a:hover{
    color: #f4516c;
    text-decoration: none;
}
.paddingRightZero{
    padding-right: 0;
}
.paddingLeftZero{
    padding-left: 0;
}

/* companySettings website address ---------*/
.popup-overlay-company-logo{      
    position:absolute;
    width: 25%;
    top: 85px;
    z-index: 9;
}

/* Billing and subscription page current-plan ---------*/
.popup-overlay-current-plan{      
    position:absolute;
    width: 35%;
    top: 55px;
    z-index: 9;
}

.popup-overlay-current-addon-qty{      
    position:absolute;
    width: 47%;
    top: 40px;
    z-index: 9;
}

.popup-overlay-upgrade-card-details{      
    position: absolute;
    width: 35%;
    top: 55px;
    z-index: 9;
    left: 180px;
}

#currentPlanPopupFormId{
    height: 75px;
    padding: 8px;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon>i:before{
    background: linear-gradient(180deg, #0095d6 25%, #0095D5 50%, #0095d6 75%, #0095d6 100%) !important;
    -webkit-background-clip:text !important;
    -webkit-text-fill-color:transparent !important;
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #0095d6 !important;
}
.todays_alerts{
    color: #0095d6 !important;
    border-bottom: 1px solid #0095d6 !important;
}
.poweredby-stripe-logo{
    position: absolute;
    top: -5rem;
    left: 300px;
    background: #FFF;
}
.marginRight20{
    margin-right: 20px;
}
/* Billing and Subscrtiption Pricing tables -*/ 

#pricing-table .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#pricing-table .card-title {
    font-size: 1.4rem; 
    font-weight: 400;
    color: #fff; 
}

#pricing-table .card-price {
    font-size: 3rem;
    margin: 0;
}     
#pricing-table ul {
    list-style-type:none !important;
    padding: 0;
    text-align: center;
}
#pricing-table ul li {
    margin-bottom: 1rem;
}
#pricing-table .pricing-user{
    color: #fff; 
    font-size: 1.2rem;
}
#pricing-table .pricing-label{
    color: #ACDEF2;
    font-size: 1.5rem;
    vertical-align: 55%;  
}
#pricing-table .pricing-amount{
    color: #fff;
    font-size: 2.64rem;
}
#pricing-table .pricing-frequency{
    color: #ACDEF2;
    font-size: 1.2rem;
    font-weight: 400;
}
#pricing-table .pricing-includes{
    color: #F1BC24;
    font-weight: bold;
    font-size:1.2rem;
}

#pricing-table .text-project-space {
    color: #FFF;
    font-weight: bold;
}
#pricing-table .see-all-features{
    color: #FFF; 
    text-decoration: underline;
}
#pricing-table .pricing_link{
    color: #FFF; 
    text-align: center;
}
#pricing-table .pricing_link a {
    color: #FFF; 
    text-align: center;
}
#pricing-table .pricing-bottom{
    text-align: center;
    padding-top: 50px;
}

#pricing-table .pricing .btn {
    background-color: #3FBB68;
    border: 1px solid #3FBB68;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    #pricing-table .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    #pricing-table .card:hover .btn {
        opacity: 1;
    }    
}

@media (max-width:620px){
    .poweredby-stripe-logo{
        position: static;
        background: #FFF;
    }
    .popup-overlay-first-name{
        position:absolute;
        width: 50%;
        top: 90px;
    }

    .popup-overlay-last-name{     
        position:absolute;
        width: 50%; 
        top: 170px;
        z-index: 9;
    }

    .popup-overlay-email{
        position:absolute;
        width: 50%;
        top: 245px;
        z-index: 9;
    }
    .popup-overlay-password{      
        position:absolute;
        width: 50%;
        top: 325px;
        z-index: 9;
    }
    /* phone ---------*/
    .popup-overlay-phone{      
        position:absolute;
        width: 25%;
        top: 315px;
        z-index: 9;
    }
    .popup-content-profile-img{      
        position:absolute;
        width: 50%;
        top: 400px;
        z-index: 9;
    }
    .popup-overlay-company-name{      
        position:absolute;
        width: 50%;
        top: 85px;
        z-index: 9;
    } 
    .popup-overlay-website-address{      
        position:absolute;
        width: 50%;
        top: 85px;
        z-index: 9;
    }
    /* companySettings gst number---------*/
    .popup-overlay-gst-number{      
        position:absolute;
        width: 50%;
        top: 105px;
        z-index: 9;
    }
    .popup-overlay-company-logo{      
        position:absolute;
        width: 50%;
        top: 85px;
        z-index: 9;
    }
    .popup-overlay-current-plan{      
        position:absolute;
        width: 60%;
        top: 55px;
        z-index: 9;
    }
    .popup-overlay-current-addon-qty{      
        position:absolute;
        width: 75%;
        top: 40px;
        z-index: 9;
    }

}
#pricing-table .standard_pricing{
    background-color: #5ABDE6;
    min-height: 470px;
}
#pricing-table .primium_pricing{
    background-color: #4B8FD6;
    min-height: 470px;
}
#pricing-table .domainaddon_pricing{
    background-color: #4467A7;
    min-height: 470px;
}
#pricing-table .marginBottomHide{
    margin-bottom: 0rem !important;
}
.stripeButton{
    background: transparent;
    color: #0095d6;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}
.widget-status{
    color: #676c7b;
    font-weight: 400;
    font-size: 1.07rem;    
}
.vertical-middle span{
    vertical-align: middle;
}
.vertical-middle span a{
    text-decoration: underline;
}
.alert.m-alert--outline.alert-accent {
    border-color: #0095d6 !important;
    color: #0095d6 !important;
}
.alert.m-alert--outline.alert-accent .close {
    color: #0095d6 !important;
}
.floatRight{
    float: right;
}
.extend-free-trial-card{
    padding-right: 3rem !important;
    margin-bottom: 0rem !important;
    margin-top: 12px;
    padding: 10px;
}
.stripe-button-el{
    display: none !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.marginBottom{
    margin-bottom: 0rem !important;
}
.subExpire{
    font-size:14px !important; 
}
.domainAddonQty{
    padding-left: 20px;
    margin-left: -13px;
}
.domainAddonQue{
    padding: 10px;
    padding-left: 13px;
}
.paymentHistory{ 
    color: #0095d6; 
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline !important; 
    font-weight: 400;
}

/*Domain Management -*/
.widgetNotInstall{ 
    border-radius: 0px !important;
    line-height: 1;
    cursor: pointer;
    padding: 0.35rem 0.5rem !important;
}
.widgetInstall{
    color: green;
    text-decoration:none;
}

.awaitingDomainName{
    color: red;
    text-decoration:none;
}

.popup-overlay-edit-domain-licence{      
    position: absolute;
    width: 35%;
    bottom: 40px;
    z-index: 999;
    left: 265px;
}

.popup-overlay-assign-domain-licence{      
    position: absolute;
    width: 35%;
    bottom: 40px;
    z-index: 999;
    left: 265px;
}

@media (min-width:480px){    
    .domain-mappers-table {
        display: block;
        width: 100%;
        overflow-x: hidden !important;
    }
}
.domain-link{
    color: #FFFFFF !important;
    text-decoration: underline !important;
}

.domain-type{
    color:green;font-size:12px
}
.alignCheckbox{
    text-align: center;
    vertical-align: top !important;
}
#domainManagersDataTableId td {
    vertical-align: middle;
}
.mCustomScrollbar[data-scrollbar-shown="true"].mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
    opacity: 0 !important;
}
#jobroleListUlId a{
    font-weight: 400;
}
.mutiSelectCheckboxOfCity {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #bfbfbf;
    background: #fff;
    margin-top: 15px;
}
.serverError{
    color:red;
}
.m-login__logo a{
    text-decoration: none;
}
.m-login__logo span{
    font-size: 20px;
    color:#262955;
    font-family: 'Roboto', sans-serif !important;
}
.width_20
{
    width:20%;
}
.logotitle
{
    font-size: 12px;
    position:absolute;
    margin:20px 3px;
}
.m-brand__logo-wrapper{
    height: 33px;
    width: 120px;
}
.m-footer__copyright{
    color: #6f727d !important;
}
.m-footer__copyright a{
    color: #6f727d;
    text-decoration: none;
}


#standardPackage{
    font-size: 13px;
}
#standardPackage .Modal{
    /*display: inline-block;*/
    border-radius: 6px;
    width: 300px !important;
    padding-bottom: 36px;
    position: relative;
    background-color: #f5f5f7;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,.5), inset 0 1px 0 0 hsla(0,0%,100%,.65);
    -webkit-backface-visibility: hidden;
}

#standardPackage .Modal .Header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: block;
    /*position: relative;*/    
}
#standardPackage .Header{
    padding: 12px 36px;
    text-align: center;
    background-color: #e8e9eb;;
}
#standardPackage .Header-logo {
    position: relative;
    margin-bottom: 6px;
    height: 35px;
}
#standardPackage .Header-logoWrap {
    position: absolute;
    top: -38px;
    right: 0;
    left: 0;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
#standardPackage .Header-logoBevel {
    border: 1px solid rgba(0,0,0,.2);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.1);
    position: absolute;
    top: 3px;
    left: 3px;
}

#standardPackage .Header-logoBorder {
    border: 3px solid #fff;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.18), 0 2px 2px 0 rgba(0,0,0,.08);
    position: absolute;
    top: 0;
    left: 0;
}
#standardPackage .Header-logoImageCatchError {
    display: none;
}
#standardPackage .Header-logoImage {
    width: 64px;
    height: 64px;
    margin: 3px;
    border-radius: 100%;
    background: #fff;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
}
#standardPackage .Header-companyName, #standardPackage .Header-purchaseDescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#standardPackage .Header-companyName {
    font-size: 17px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
#standardPackage .Header-loggedInBar {
    height: 2px;
    background-image: radial-gradient(circle,hsla(0,0%,100%,.31),hsla(0,0%,100%,0));
    margin-bottom: 6px;
}
#standardPackage .Header-loggedInBar:before
{
    content: "";
    display: block;
    position: relative;
    height: 1px;
    top: -1px;
    background-image: radial-gradient(circle,rgba(0,0,0,.07),transparent);
}

#standardPackage .Header-loggedInEmail {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    color: #919199;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.4);
    vertical-align: top;
}
#standardPackage .Section--modalBody {
    padding-top: 18px;
}
#standardPackage .standard_plan_btn {
    text-align: center;
    cursor: pointer;
}
#standardPackage .standard_plan_btn btn{    
    cursor: pointer;
}
.Header-navClose
{    
    width: 25px;
    height: 25px;
    background-image: url(/m/lib/../lib/images/close-92c5506….png);
    background-size: 17px;
    background-position: 4px 4px;
    right: 6px;
    top: 6px;    
}
.Header-navClose{
    background: no-repeat;
    cursor: pointer;
    position: absolute;
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-property: opacity;
}
#spanSubscribeBtn, #spanUnsubscribeBtn{
    color:white;
    border-radius:15px;
}
#spanSubscribeBtn:hover ,#spanUnsubscribeBtn:hover{
    color:whitesmoke !important;

}
.MultiCheckBox {
    border:1px solid #e2e2e2;
    padding: 5px;
    border-radius:4px;
    cursor:pointer;
}

.MultiCheckBox .k-icon{ 
    font-size: 15px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 14px;
    color:#787878;
} 

.MultiCheckBoxDetail {
    display:none;
    position:absolute;
    border:1px solid #e2e2e2;
    overflow-y:hidden;
    z-index: 9999;
    background: #ffffff;
    width: 96%;
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;
}

.MultiCheckBoxDetail .cont  {
    clear:both;
    overflow: hidden;
    padding: 2px;
}

.MultiCheckBoxDetail .cont:hover  {
    background-color:#cfcfcf;
}

.MultiCheckBoxDetailBody > div > div {
    float:left;
    padding-right: 5px;
}
.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:#3d3d3d;
}

.MultiCheckBoxDetailHeader>input {
    position: absolute;
    top: 4px;
    left: 3px;
}

.MultiCheckBoxDetailHeader>div {
    position: absolute;
    top: 5px;
    left: 24px;
    color:#fff;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {         
    width: auto;
    height: 300px !important;
    max-height: 300px !important;
    margin: auto; 
    display: block;
}
.pointer{
    cursor: pointer;
}
.pull-left{
    padding-bottom: 10px;
}

@media (min-width:360px) and (max-width:767.9px){
    .kt-portlet__head-actions{
        text-align: center;
    }
    .add-margin{
        display: block;
        /*margin-bottom: 10px;*/        
    }
    .minusMarginLeft40 {
        margin-left: 0px;
    }
} 
.errorMessageText{
    color: #f4516c;
    font-weight: 400;
    font-size: .85rem;
}